<%= form_for(@repair_order) do |f| %>
  <% if @repair_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair_order.errors.count, "error") %> prohibited this repair_order from being saved:</h2>

      <ul>
      <% @repair_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :recommendations %><br>
    <%= f.text_area :recommendations %>
  </div>
  <div class="field">
    <%= f.label :maintenance %><br>
    <%= f.text_area :maintenance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
