<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @repair_order.number %>
</p>

<p>
  <strong>Recommendations:</strong>
  <%= @repair_order.recommendations %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @repair_order.maintenance %>
</p>

<%= link_to 'Edit', edit_repair_order_path(@repair_order) %> |
<%= link_to 'Back', repair_orders_path %>
