<%= form_for(@repair_item) do |f| %>
  <% if @repair_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair_item.errors.count, "error") %> prohibited this repair_item from being saved:</h2>

      <ul>
      <% @repair_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cause %><br>
    <%= f.text_area :cause %>
  </div>
  <div class="field">
    <%= f.label :correction %><br>
    <%= f.text_area :correction %>
  </div>
  <div class="field">
    <%= f.label :parts %><br>
    <%= f.text_area :parts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
